.features-tiles-item-image {
  display: inline-flex;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background-color: get-color(primary, 3);
}

.feature-icons {
  color: #ffffff;
  width: 25px;
}
